body {
  background-color: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #34a5da;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  height: 75px;
}

.main {
  background: white;
  width: 57%;
  height: 300px;
  margin: 100px auto;
  margin-bottom: 10px;
  padding: 20px;
}

h2 {
  padding: 20px;
  margin-top: 0;
}

.footer {
  width: 60%;
  margin: 0 auto;
}

.left {
  float: right;
}
span {
  font-size: 20px;
  font-weight: bold;
}

button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: none;
}
.counter {
  float: right;
  font-size: 18px;
  font-weight: bold;
}
